@using System.Collections.Generic
@model System.Collections.Generic.IEnumerable<Product>

@foreach (var p in Model) {
    <div>
    <h3>@p.Name</h3>
    @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}